* {
  font-family: font;
}

body {
  margin: 0;
  background-color: #3429ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%233429ff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%232f23e2' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232a1dc6' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%232417ab' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231e1191' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23180c77' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.stopwatch {
  display: block;
  width: 45rem;
  height: 45rem;
  background-color: #f88214;
  margin: auto;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: 0.3rem solid #167ff7;
  -webkit-box-shadow: white 0rem 0rem 8rem;
          box-shadow: white 0rem 0rem 8rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#heading {
  display: block;
  margin: auto;
  font-size: 5rem;
  background-color: #5c67c7;
  border-radius: 25%;
  border: solid white .3rem;
  width: 35rem;
}

#songName {
  background-color: black;
  color: #dfdf0e;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#time {
  font-size: 5rem;
  background-color: #5c67c7;
  border-radius: 25%;
  border: solid white .3rem;
  width: 39rem;
  margin-left: auto;
  margin-right: auto;
}

#savedTime {
  font-size: 5rem;
  background-color: #5c67c7;
  border-radius: 25%;
  border: solid white .3rem;
  width: 39rem;
  margin-left: auto;
  margin-right: auto;
}

#soundButton {
  display: block;
  font-size: 3rem;
  background-color: #167ff7;
  border-radius: 25%;
  border: solid white .3rem;
  width: 20rem;
  color: #f88214;
  margin: auto;
  outline: none;
  -webkit-box-shadow: white 0rem 0rem 8rem;
          box-shadow: white 0rem 0rem 8rem;
}

#Groover {
  width: 0;
  display: none;
}

.stopwatch
.buttons
#button1 {
  background-color: black;
  color: #167ff7;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.stopwatch
.buttons
#button1:hover {
  font-size: 4.2rem;
}

.stopwatch
.buttons
#button2 {
  background-color: black;
  color: #16c516;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.stopwatch
.buttons
#button2:hover {
  font-size: 4.2rem;
}

.stopwatch
.buttons
#button1-stop {
  display: none;
}

.stopwatch
.buttons
#button-clear {
  display: none;
}

.startSwitch
.stopwatch
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.startSwitch
.stopwatch
.buttons
#button1 {
  display: none;
}

.startSwitch
.stopwatch
.buttons
#songName {
  display: none;
}

.startSwitch
.stopwatch
.buttons
#button1-stop {
  display: block;
  background-color: black;
  color: #f71616;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.startSwitch
.stopwatch
.buttons
#button1-stop:hover {
  font-size: 4.2rem;
}

.startSwitch
.stopwatch
.buttons
#button2 {
  background-color: black;
  color: #16c516;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.startSwitch
.stopwatch
.buttons
#button2:hover {
  font-size: 4.2rem;
}

.startSwitch
.stopwatch
.buttons
#button-clear {
  display: block;
  background-color: black;
  color: #f88214;
  outline: none;
  border: solid white .1rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.startSwitch
.stopwatch
.buttons
#button-clear:hover {
  font-size: 4.2rem;
}

@font-face {
  src: url("../fonts/pocket_calcuatlor_tt.ttf");
  font-family: font;
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: translate(0.4rem, 0.4rem) rotate(0deg);
            transform: translate(0.4rem, 0.4rem) rotate(0deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  10% {
    -webkit-transform: translate(-0.4rem, -0.5rem);
            transform: translate(-0.4rem, -0.5rem);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  20% {
    -webkit-transform: translate(-0.6rem, 0rem) rotate(1deg);
            transform: translate(-0.6rem, 0rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  30% {
    -webkit-transform: translate(0.6rem, 0.5rem) rotate(0deg);
            transform: translate(0.6rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  40% {
    -webkit-transform: translate(0.4rem, -0.4rem) rotate(1deg);
            transform: translate(0.4rem, -0.4rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  50% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(-0.4rem, 0.5rem) rotate(-1deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  60% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(0deg);
            transform: translate(-0.4rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  70% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(0.4rem, 0.5rem) rotate(-1deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  80% {
    -webkit-transform: translate(-0.4rem, -0.4rem) rotate(1deg);
            transform: translate(-0.4rem, -0.4rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  90% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(0deg);
            transform: translate(0.4rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  100% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-1deg);
            transform: translate(0.4rem, -0.5rem) rotate(-1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
}

@keyframes dance {
  0% {
    -webkit-transform: translate(0.4rem, 0.4rem) rotate(0deg);
            transform: translate(0.4rem, 0.4rem) rotate(0deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  10% {
    -webkit-transform: translate(-0.4rem, -0.5rem);
            transform: translate(-0.4rem, -0.5rem);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  20% {
    -webkit-transform: translate(-0.6rem, 0rem) rotate(1deg);
            transform: translate(-0.6rem, 0rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  30% {
    -webkit-transform: translate(0.6rem, 0.5rem) rotate(0deg);
            transform: translate(0.6rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  40% {
    -webkit-transform: translate(0.4rem, -0.4rem) rotate(1deg);
            transform: translate(0.4rem, -0.4rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  50% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(-0.4rem, 0.5rem) rotate(-1deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  60% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(0deg);
            transform: translate(-0.4rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  70% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(0.4rem, 0.5rem) rotate(-1deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  80% {
    -webkit-transform: translate(-0.4rem, -0.4rem) rotate(1deg);
            transform: translate(-0.4rem, -0.4rem) rotate(1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
  90% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(0deg);
            transform: translate(0.4rem, 0.5rem) rotate(0deg);
    border: 0.3rem solid #f71616;
    background-color: #16c516;
  }
  100% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-1deg);
            transform: translate(0.4rem, -0.5rem) rotate(-1deg);
    border: 0.3rem solid #f88214;
    background-color: #167ff7;
  }
}

.animation {
  -webkit-animation-name: dance;
          animation-name: dance;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4.7s;
          animation-duration: 4.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(360deg);
            transform: translate(-0.4rem, 0.5rem) rotate(360deg);
  }
  10% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(0deg);
            transform: translate(-0.4rem, 0.5rem) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(0.4rem, 0.5rem) rotate(-1deg);
  }
  30% {
    -webkit-transform: translate(-0.4rem, -0.4rem) rotate(1deg);
            transform: translate(-0.4rem, -0.4rem) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(0deg);
            transform: translate(0.4rem, 0.5rem) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-1deg);
            transform: translate(0.4rem, -0.5rem) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(0.4rem, 0.4rem) rotate(0deg);
            transform: translate(0.4rem, 0.4rem) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(-0.4rem, -0.5rem);
            transform: translate(-0.4rem, -0.5rem);
  }
  80% {
    -webkit-transform: translate(-0.6rem, 0rem) rotate(1deg);
            transform: translate(-0.6rem, 0rem) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(0.6rem, 0.5rem) rotate(0deg);
            transform: translate(0.6rem, 0.5rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-360deg);
            transform: translate(0.4rem, -0.5rem) rotate(-360deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(360deg);
            transform: translate(-0.4rem, 0.5rem) rotate(360deg);
  }
  10% {
    -webkit-transform: translate(-0.4rem, 0.5rem) rotate(0deg);
            transform: translate(-0.4rem, 0.5rem) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(-1deg);
            transform: translate(0.4rem, 0.5rem) rotate(-1deg);
  }
  30% {
    -webkit-transform: translate(-0.4rem, -0.4rem) rotate(1deg);
            transform: translate(-0.4rem, -0.4rem) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(0.4rem, 0.5rem) rotate(0deg);
            transform: translate(0.4rem, 0.5rem) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-1deg);
            transform: translate(0.4rem, -0.5rem) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(0.4rem, 0.4rem) rotate(0deg);
            transform: translate(0.4rem, 0.4rem) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(-0.4rem, -0.5rem);
            transform: translate(-0.4rem, -0.5rem);
  }
  80% {
    -webkit-transform: translate(-0.6rem, 0rem) rotate(1deg);
            transform: translate(-0.6rem, 0rem) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(0.6rem, 0.5rem) rotate(0deg);
            transform: translate(0.6rem, 0.5rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.4rem, -0.5rem) rotate(-360deg);
            transform: translate(0.4rem, -0.5rem) rotate(-360deg);
  }
}

.animation-2 {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4.7s;
          animation-duration: 4.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
/*# sourceMappingURL=style.css.map */